Credibility_verification_system/Credibility_verification_system/settings.py
Credibility_verification_system/Credibility_verification_system/__pycache__/settings.cpython-310.pyc
Credibility_verification_system/Credibility_verification_system/__pycache__/settings.cpython-310.pyc
Credibility_verification_system/Credibility_verification_system/__pycache__/settings.cpython-310.pyc
/Users/nyagaderrick/Developer/136788/data
*.csv
