{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container">
    <h2>Verify Statement</h2>
    <form method="post" style="width: 900px;">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if verdict and probability_percentage %}
    <div class="result" style="margin-top: 10px;">
        <p class="red-text">Verdict: {{ verdict }}</p>
        <p class="red-text">Probability Percentage: {{ probability_percentage|floatformat:2 }}%</p>
    </div>
    {% endif %}

    <div id="success-message" class="alert alert-success" style="display: none;">
        Statement submitted successfully!
    </div>
</div>

<script>
    // Add a timer to hide the success message after 5 seconds (5000 milliseconds)
    setTimeout(function () {
        document.getElementById("success-message").style.display = "none";
    }, 5000);
</script>

{% endblock %}
